@use "./variables" as *;

header {
  font-family: $header-font;
  color: $title-color;
  font-weight: bold;
  background-color: $bg-colortwo;
  height: 20vh;
  min-height: 200px;
  text-align: center;

  h1 {
    font-size: 4.5rem;
    letter-spacing: 0.25rem;
    text-shadow: 0px 0px 20px $black;
  }

  h2 {
    text-shadow: 0px 0px 1px $text-colortwo;
    font-family: $body-font;
    font-size: 0.7rem;
    padding: 0px;
    margin: 0px;
    margin-top: -10px;
  }

  h3 {
    text-shadow: 0px 0px 1px $black;
    font-size: 1.25rem;
    letter-spacing: 0.3rem;
  }

  a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    transition: 0.2s ease-in-out;
    
      &:hover,
      &:focus {
        color: rgba($black, 0.6);
      }

    :visited {
      text-decoration: none;
      color: inherit;
    }
  }

  @media (max-width: $mq-mobile) {
    h1 {
      font-size: 3rem;
    }
  }
}
