// colour variables
$light-grey: #dcdcdc;
$google-blue: #4285f4;
$white: #ffffff;
$black: #000000;
$bg-color: #FFF9EC;
$bg-colortwo: #ff9d1d;
$bg-color-dark: #2E294E;
$bg-colortwo-dark: #43397C;
$title-color: #7618a1;
$title-color-dark: #D7ADFF;
$text-color: #1F1F1F;
$text-color-dark: #EAEAEA;
$text-colortwo: #A882DD;
$text-colorthree: #1B998B;

// import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Poppins&family=Rampart+One&family=Tilt+Warp&display=swap');

// Main fonts
$header-font: 'Calistoga', cursive;
$body-font: 'Poppins', sans-serif;

// breakpoints
$mq-medium: 1100px;
$mq-ipad: 850px;
$mq-small: 650px;
$mq-big-mobile: 450px;
$mq-mobile: 350px;
